{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}

{% include 'partials/adm/navbaradm.html' %}
{% include 'partials/alerts.html' %}
{% include 'partials/loading.html'%}
<style>
  #info{
      margin-top: 6%;
      height: 80vh;
    }
    input{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5%;
    background-color: white;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.281);
    }
    .card{
      padding: 3%;
      border-radius: 20px;
    }
    input,
    button {
      margin: 1%;
    }


    @media only screen and (max-device-width: 700px) {
      .adduser{
          margin-top: 250px;
      }
      .card{
        margin-top: 200px;
      }
  }

</style>

<div class="container text-center adduser" id="info">
  <div class="card">
    <div class="header">
      <h1>Adicionar User</h1>
    </div>
    <form action="{% url 'adicionar_usuario' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="nome" placeholder="Nome do usuário"><br>
      <input type="password" name="senha" placeholder="Senha"><br>
      <input type="text" name="email" placeholder="E-mail"><br>
      <label for="admin_checkbox">Administrador:</label>
      <input type="checkbox" id="admin_checkbox" name="is_admin"><br>
      <button class="btn btn-success" type="submit">Adicionar</button>
      <div class="container text-center" style="padding: 2%;">
      </div>
    </form>
  </div>
</div>

{% include 'partials/footer.html' %}
{% endblock%}