{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}

{% include 'partials/adm/navbaradm.html' %}
{% include 'partials/loading.html'%}
<style>
    #info{
      margin-top: 3%;
      height: 80vh;
    }
    input{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5%;
    background-color: white;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.281);
    }
    .card{
      padding: 3%;
      border-radius: 20px;
    }
    input,
    button {
      margin: 1%;
    }


        @media only screen and (max-device-width: 700px) {
      .updateuser{
          margin-top: 250px;
      }
      .card{
        margin-top: 200px;
      }
  }

</style>

<div class="container text-center updateuser" id="info">
  <div class="card shadow">
    <div class="header">
      <h1>Editar User</h1>
    </div>
    <form action="{% url 'update_usuario' usuario.id %}" method="POST">
      {% csrf_token %}
      <input type="text" name="nome" value="{{usuario.username}}"><br>
      <input type="password" name="senha" placeholder="Nova senha"><br>
      <input type="text" name="email" value="{{usuario.email}}"><br>
      <label for="admin_checkbox">Administrador:</label>
      <input type="checkbox" id="admin_checkbox" name="is_admin" {% if usuario.is_superuser %}checked{% endif %}><br>
      <button class="btn btn-primary" type="submit">Salvar</button>
      <div class="container text-center" style="padding: 2%;">
      </div>
    </form>
  </div>
</div>


{% include 'partials/footer.html' %}
{% endblock%}