{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}

{% include 'partials/adm/navbaradm.html' %}
{% include 'partials/loading.html' %}

<style>
    body{
        
    }
    .main{
        height: 90vh;
        /* background-image: url({% static 'assets/img/fundohf.png' %}); */
        font-family: 'Roboto', sans-serif;
    }
    .mensagem-card {
        max-width: 400px;
        margin: 0 auto;
    }

    .mensagem-text {
        margin-top: 0;
        text-align: left;
    }
    @media only screen and (max-device-width: 700px) {
    .main h2{
        padding-top: 27%;
    }
}
</style>

<div class="container-fluid mt-5 main">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-4" style="margin-top: 30px;">Mensagens do Fale Conosco</h2>
        </div>
    </div>

    <div class="row">
        {% for mensagem in mensagens_fale_conosco %}
        <div class="col-md-6">
            <div class="card mb-3 mensagem-card">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">{{ mensagem.email }}</h5>
                    <p class="card-text mensagem-text">{{ mensagem.mensagem }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

        {% if not mensagens_fale_conosco %}
        <p class="text-center">Nenhuma mensagem encontrada.</p>
        {% endif %}
    </div>
</div>

{% include 'partials/footer.html' %}
{% endblock %}