{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}

{% include 'partials/adm/background.html' %}
{% include 'partials/adm/navbar.html' %}
{% include 'partials/alerts.html' %}

<div class="container-fluid text-center" style="background-image: url({% static 'img/fundo.png' %}); padding: 18%;">

  <table class="table table-dark table-striped">
      <thead>
          <tr>
              <th scope="col" colspan="4">
                  <form method="GET" action="{% url 'listar_usuario' %}" class="form-inline">
                  </form>
              </th>
          </tr>
          <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">E-Mail</th>
              <th></th>
              <th scope="col">
                  <a href="{% url 'adicionar_usuario' %}">
                      <button type="button" class="btn">
                          <img src="{% static 'assets/img/adicionar.png' %}" alt="" style="height: 40px; width: 40px;">
                      </button>
                  </a>
              </th>
          </tr>
      </thead>
      <tbody>
          {% for x in usuarios %}
          <tr>
              <th scope="row">{{x.id}}</th>
              <td>{{x.username}}</td>
              <td>{{x.email}}</td>
              <td>
                <div class="row">
                    <div class="col-3">
                        {%if x.is_active%}
                            Ativo
                        {% else %} 
                            Inativo
                        {% endif %}
                    </div>
                    <div class="col-3">
                        {%if x.is_superuser%}
                            Admin
                        {% else %} 
                            User
                        {% endif %}
                    </div>
                    <div class="col-3">
                        <a href="{% url 'active_user' x.id %}" style="text-decoration:none;color:green">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                              </svg>
                        </a>
                        <a href="{% url 'inative_user' x.id %}" style="text-decoration:none;color:red">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
                              </svg>
                        </a>
                        
                    </div>
                </div>
              </td>
              <td>
                <a href="{% url 'update_usuario' x.id %}">
                    <button type="button" class="btn">
                        <img src="{% static 'assets/img/editar.png' %}" alt="botaoeditar">
                    </button>
                </a>
                <a href="{% url 'delete_usuario' x.id %}">
                    <button type="button" class="btn">
                        <img src="{% static 'assets/img/lixeira.png' %}" alt="botao-excluir">
                    </button>
                </a>
            </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

{% include 'partials/footer.html' %}
{% endblock %}