{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}

{% include 'partials/adm/navbaradm.html' %}
{% include 'partials/loading.html'%}

<style>
        @media only screen and (max-device-width: 700px) {
      .updateuser{
          margin-top: 250px;
      }
  }
</style>
<div class="container text-center updateuser">
    <div class="row shadow" id="info">
        <h1 class="col-12">Editar Postagem</h1>
        <div class="col-md-6">
            <form action="{% url 'update_roupa' produto.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="row mb-3 align-items-center">
                    <div class="col-md-6 text-md-end">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    </div>
                    <div class="col-md-6 text-md-start">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <div class="row mt-3">
                    <div class="col-md-6 offset-md-3">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6" id="foto">
            {% if produto.imagem_produto %}
            <img class="shadow" src="{{ produto.imagem_produto.url }}" alt="{{ produto.titulo_produto }}" width="200px"
                height="200px">
            {% endif %}
        </div>
    </div>
</div>

{% include 'partials/footer.html' %}

{% endblock %}