{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}


 {% include 'partials/adm/navbar.html' %}
    <div class="container text-center" style="padding: 5%;">
        <div class="row shadow" id="info">
            <h1>Editar Postagem</h1>
        <div class="col" id="foto">
            {%if roupa.imagem_roupa%}
                <img class="shadow" src="{{roupa.imagem_roupa.url}}" alt="roupa.titulo_roupa" width="200px" height="200px">
            {%endif%}
        </div>
        <div class="col">
            <form action="{% url 'update_roupa' roupa.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class= "btn btn-primary">Salvar</div>
            </form>
        </div>
        </div>
    </div> 
  {% include 'partials/footer.html' %}
    
  {% endblock%}

