body{
    margin: 0;
}

.artdicas, .artdicas2, .artdicas3{
    width: 100%;
    margin-bottom: 3%;
    width: 100%;
}
.artdicas2{
    background-color: #CEAB9A;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 1080px;
}

#mainartdicas p{
    text-align: justify;
    padding-top: 2px;
    margin-bottom: 2%;
    color: black;
}
#mainartdicas h3{
    font-family: 'Cardo', serif;
    font-size: 35px;
    margin-top: 2%;
    color: black;
}
.artdicas img{
    height: 800px;
    width: 533px;
    padding-left: 0%;
    visibility: hidden;
}
.artdicas2 img{
    height: 750px;
    width: 533px;
    visibility: hidden;
}

.artdicas3 img{
    visibility: hidden;
}
