body{
    margin: 0;
}

#Sobre h1{
    font-family: 'Ms Madi', cursive;
    font-size: 65px;
    padding: 2%;
}
#quemsomos h3{
    font-family: 'Cardo', serif;
    font-size: 35px;
    margin-top: 4%;
}

#quemsomos p{
    text-align: justify;
    padding-top: 2px;
    margin-bottom: 0;
    color: black;
}
#quemsomos{
    margin-bottom: 4%;
}

#compromisso img{
    width: 500px;
    height: 700px; 
    margin-bottom: 3%;
}

#compromisso h2{
    font-family: 'Ms Madi', cursive;
    font-size: 35px;
    margin-bottom: 0;
}
#compromisso h6{
    font-family: 'Quicksand', sans-serif;
    margin-top: 2px;
}

.missao{
    width: 100%;
    background-color: black;
    color: white;
}
.missao h1{
    font-family: 'Ms Madi', cursive;
    font-size: 85px;
    padding: 15%;
}
.mvv img{
    padding-bottom: 3%;
    margin-right: 4%;
}

.mvv{
    padding: 0;
}