.sobreposicao {
    position: relative;
    display: inline-block; 
}

.icone1 {
    height: 40px;
    left: 30px;
}

.icone2 {
    height: 35px;
    left: 90px;
}

    .nav-link {
      position: relative;
      text-decoration: none;
      color: #000;
      display: inline-block;
    }
  
    .nav-link:hover {
      color: #fff;
    }
  
    .nav-link::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 2px;
      background-color: white;
      transform-origin: bottom right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
  
    .nav-link:hover::after {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
