{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="{% static 'assets/img/9.png' %}" style="height: 20px; height: 20px;" alt="">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/postagem">Roupas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Usuário</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gráfico</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success" type="submit">Logout</button>
        </form>
      </div>
    </div>
</nav>
