<style>
    .filtro{
        position: fixed;
        top: 5%;
        width: 100%;
        background-color: #ffffff; 
        z-index: 1000;
        padding-top: 1%; 
    }
    select{
        color: black;
        padding: 1%;
        border-radius: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    @media only screen and (max-device-width: 932px) {
    select, button{
        width: 100%;
    }
}
</style>

<div class="container-fluid mt-3 filtro">
    <form method="get" action="{% url 'listar_roupas' %}">
        {% csrf_token %}     
        <div class="d-flex justify-content-center mb-3 align-items-center">
            <div class="custom-dropdown mr-4">
                {{ filtro_form.ano }}
            </div>
            <div class="custom-dropdown mr-4">
                {{ filtro_form.colecao }}
            </div>         
            <div class="custom-dropdown mr-4">
                {{ filtro_form.tipo }}
            </div>
            <div class="custom-dropdown">
                <button type="submit" class="btn btn-dark" style="min-width: 20px;">Filtrar</button>
            </div>
        </div>
    </form>
</div>