    /* Estilize a caixa de diálogo como desejar */
    #ajuda-dialogo {
        display: none;
        position: absolute;
        width: 200px; /* Largura desejada */
        padding: 10px;
        background-color: #f2f2f2; /* Fundo cinza */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        right: 400px; /* Ajuste conforme necessário para evitar tampar o "?" */
    }

    #fechar-btn {
        background: none;
        border: none;
        color: #333;
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .titulocat h1 button {
        border: 2px solid #333;
        border-radius: 50%; /* Bordas redondas */
        background: none;
        font-size: 14px; /* Tamanho ajustável conforme necessário */
        width: 24px; /* Largura ajustável conforme necessário */
        height: 24px; /* Altura ajustável conforme necessário */
        margin-left: 10px; /* Espaçamento ajustável conforme necessário */
        cursor: pointer;
        vertical-align: middle; /* Alinha verticalmente ao texto */
    }
