*{margin: 0;
    padding: 0;
    box-sizing: border-box;    
}  
body{
    width: 100vw;
    height: 100vh;
    background-size:100%;
    background-repeat:no-repeat;

}
article{
      width: 100vw;
    height: 100vh;
}
#main{
      padding: 25%;
}