{% load static %}
body{
    margin: 0;
}

#Sobre h1{
    font-family: 'Ms Madi', cursive;
    font-size: 65px;
    padding: 2%;
}
.quemsomos img{
    padding-bottom: 3%;
    visibility: hidden;

} 

#compromisso img{
    width: 500px;
    height: 500px;
}
   
.quemsomos h3{
    font-family: 'Cardo', serif;
    font-size: 35px;
    margin-top: 4%;
}
.quemsomos p{
    text-align: justify;
    padding-top: 2px;
    margin-bottom: 0;
    color: black;
}
.quemsomos{
    margin-bottom: 4%;
}

#compromisso img{
    width: 550px;
    height: 750px; 
    margin-bottom: 3%;
    margin-left: 9%;
}

#compromisso h2{
    font-family: 'Ms Madi', cursive;
    font-size: 35px;
    margin-bottom: 0;
}
#compromisso h6{
    font-family: 'Quicksand', sans-serif;
    margin-top: 2px;
}

.mvv img{
    padding-bottom: 3%;
    margin-right: 4%;
    visibility: hidden;
}

.mvv{
    padding: 0;
}

.endereco{
    padding: 3%;
    margin-bottom: 3%;
    padding-top: 0;
}
.endereco ol{
    font-family: 'Cardo', serif;
    font-size: 25px;
    margin-top: 2%;
    color: black;
}

.endereco li{
    text-align: justify;
    padding-top: 2px;
    margin-bottom: 2%;
    color: black;
    list-style: square;
}
.endereco h1{
    font-family: 'Ms Madi', cursive;
    font-size: 60px;
    padding: 2%;
}

.imagem1, .imagem2, .imagem3{
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh !important;
    width: 100%;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backgroundsize: cover;

}

.imagem1{
    background-image: url(https://img.freepik.com/fotos-gratis/retrato-minimo-preto-e-branco_23-2149152635.jpg?w=1380&t=st=1701365490~exp=1701366090~hmac=f7205eb59ec842e5fc9b18d918c0e889f0614e6a53737e53604b5d44b24e7cd9);
}


.imagem3{
    background-image: url(https://img.freepik.com/fotos-gratis/mulher-atraente-com-um-chapeu-posando-em-fundo-preto_7502-7664.jpg?w=1380&t=st=1701364774~exp=1701365374~hmac=eeb352a70bf1ad993af8c41164dcab3bad75211e48f2c4fd1fcabf080a526f76);
}

.imagem1:after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}
.imagem2:after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}
.imagem3:after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}


.imagem1 h1, .imagem2 h1, .imagem3 h1{
    color: white;
    font-family: 'Ms Madi', cursive;
    font-size: 120px;
    visibility: hidden;
}

