{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}
{% include 'partials/navbar.html' %}
{% include 'partials/alerts.html' %}
{% include 'partials/loading.html'%}

<div class="imagem1 text-center" style="background-image: url({% static 'assets/img/modelosorriso.jpg' %});">
    <h1>Artigos e Dicas</h1>
</div>
<div class="container text-center" id="mainartdicas">
    <div class="artdicas3">
        <div class="container row align-items-start">
            <div class="col text-start">
                <h3>Tendências da moda 2024</h3>
                <div class="row">
                    <div class="col">
                        <p>O mundo da moda está sempre evoluindo, refletindo e moldando a cultura contemporânea. 
                            À medida que nos aproximamos de 2024, é emocionante antecipar as tendências que
                             moldarão o cenário da moda. Este artigo mergulha nas previsões mais promissoras,
                            revelando o que podemos esperar do universo da moda no próximo ano.</p>
                    </div>
                    <div class="col">
                        <p> Tecnologia e Moda Integradas: A fusão entre tecnologia e moda atingirá 
                            novos ápices em 2024. Roupas inteligentes, tecidos tecnológicos 
                            e acessórios conectados serão cada vez mais comuns. A integração
                            de sensores e dispositivos vestíveis não apenas adicionará funcionalidade
                            às roupas, mas também proporcionará uma experiência única aos consumidores.</p>
                    </div>
                </div>
            </div>
            <video class="img-fluid" autoplay muted loop>
                <source src="{% static 'assets/videos/artdicas1.mp4' %}" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="artdicas2 shadow">
        <div class="container row align-items-start">
            <div class="col">
                <h3>Tendências da moda 2024</h3>
                <p>Moda Digital e Metaverso: A ascensão do metaverso e das interações digitais influenciará a moda de maneiras inovadoras. Roupas digitais, avatares personalizados e experiências de moda virtual ganharão destaque, estabelecendo uma ponte entre o mundo físico e o digital.</p>
                <p>Colaborações Inovadoras: A colaboração entre marcas, designers e artistas atingirá novos patamares em 2024. Colaborações inusitadas e criativas resultarão em coleções únicas, muitas vezes fundindo estilos diversos e oferecendo aos consumidores algo verdadeiramente original e fora do comum.</p>
                <p> Moda Genderless e Inclusiva: A quebra de barreiras de gênero na moda ganhará ainda mais destaque.
                     Linhas de moda genderless e inclusivas estão se tornando cada vez mais populares, desafiando normas
                    preestabelecidas e celebrando a individualidade. A diversidade será um tema central,
                    tanto nas passarelas quanto nas campanhas publicitárias.</p>
                <p> Cores Vibrantes e Estampas Ousadas: As paletas de cores para 2024 prometem ser vibrantes e ousadas. A moda será uma explosão de cores, refletindo otimismo e expressão individual. Estampas arrojadas, inspiradas em diversas culturas e movimentos artísticos, serão destaque nas passarelas e nas ruas.</p>
                <p>Moda Upcycling: A tendência do upcycling, transformar materiais descartados em novas peças de moda, continuará a crescer. Designers encontrarão maneiras inovadoras de reutilizar e reinventar tecidos, dando vida nova a roupas antigas e reduzindo o impacto ambiental da indústria da moda.</p>
            </div>
            <img src="{% static 'assets/img/modelo2.jpg' %}" alt="Modelo">
        </div>
    </div>
    <div class="artdicas">
        <div class="container row align-items-start">
            <img src="{% static 'assets/img/modelo1.jpg' %}" alt="Modelo">
            <div class="col">
                <h3>Tendências da moda 2024</h3>
                <p>Estilo Urbano Futurista: A estética urbana continuará a evoluir, abraçando elementos futuristas. Designs inspirados em ambientes urbanos, tecnologia e arquitetura moderna serão incorporados em roupas casuais e de streetwear, proporcionando um visual contemporâneo e vanguardista.</p>
                <p>Minimalismo Elegante: A simplicidade sofisticada continuará a ter presença marcante nas passarelas. O minimalismo elegante, com cortes limpos e linhas simples, será uma escolha popular para aqueles que buscam um estilo atemporal e versátil. A ênfase estará na qualidade dos materiais e na execução impecável.</p>
                <p>Sustentabilidade como Prioridade: A conscientização ambiental continua a moldar as escolhas de consumidores e designers. Em 2024, espera-se que a moda sustentável atinja novos patamares. Materiais reciclados, processos de fabricação ecológicos e a reutilização de roupas desempenharão papéis fundamentais na indústria da moda.</p>
                <p>Influência da Cultura Pop e Retrofuturismo: A cultura pop e a nostalgia terão grande impacto nas tendências de moda de 2024. Elementos retrofuturistas, inspirados em visões passadas do futuro, serão incorporados em designs contemporâneos. Referências a décadas anteriores, como os anos 80 e 90, permanecerão influentes. </p>
                <p>À medida que nos dirigimos para 2024, a moda continuará a ser um campo dinâmico e inovador. Com um foco
                     crescente na sustentabilidade, tecnologia, inclusividade e autenticidade, o próximo ano promete ser emocionante 
                     para amantes da moda e para a indústria como um todo. À medida que abraçamos essas tendências, estamos moldando
                     não apenas o nosso estilo, mas também o futuro da moda global.</p>
            </div>
        </div>
    </div>
    <img class="img-fluid" src="{% static 'assets/img/linha.png' %}" alt="linha-decorativa"
        style="margin-top: 2%; margin-bottom: 2%;">
</div>

<script>
    window.sr = ScrollReveal({ reset: true });

    sr.reveal('.imagem1 h1', { duration: 2000 });

</script>
{% include 'partials/footer.html' %}
{% endblock%}