{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}


{% include 'partials/navbar.html' %}
{% include 'partials/alerts.html' %}
{% include 'partials/pesquisa.html'%}

<style>
    .imagem1 {
    transition: background-image 0.9s ease-in-out;
    }
    .imagem1 h1{
        margin: 0;
    }
    h6{
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin-top: 2px;
    font-size: 25px;
}
</style>
<!-- início carrossel -->
<!-- <div id="carouselExample" class="carousel slide" style="margin-top: 7%;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'assets/img/car1.jpg' %}" class="d-block w-100" style="height: 600px;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'assets/img/car1.jpg' %}" class="d-block w-100" style="height: 600px;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'assets/img/car1.jpg' %}" class="d-block w-100" style="height: 600px;" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div> -->
  <!-- fim carrossel -->
  <div class="imagem1 text-center" style="margin-top: 5%;  background-image: url({% static 'assets/img/modelorosa.jpg' %});">
    <h1>High Fashion <br> <h6>Moda com Elegância e <br> Inovação desde 1972</h6></h1>
</div>

<!-- inicio body  -->
<div class="container-md">
    <div class="container-md">
        <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
            {% for x in postagem %}
                <div class="col-4 sobreposicao" style="margin-bottom: 3%;">
                    <div class="card">
                        <img src="{{x.imagem_produto.url}}" alt="{{x.titulo_roupa}}" class="img-fluid"
                            style="width: 100%; height: 100%;" data-toggle="modal" data-target="#modalFoto{{x.id}}">
    
                        <div class="card-body">
                            {% if user in x.liked_by.all %}
                                <a href="{% url 'curtir_postagem' x.id %}" class="card-link">
                                    <svg class="icone1" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"
                                        stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="m7.234 3.004c-2.652 0-5.234 1.829-5.234 5.177 0 3.725 4.345 7.727 9.303 12.54.194.189.446.283.697.283s.503-.094.697-.283c4.977-4.831 9.303-8.814 9.303-12.54 0-3.353-2.58-5.168-5.229-5.168-1.836 0-3.646.866-4.771 2.554-1.13-1.696-2.935-2.563-4.766-2.563zm0 1.5c1.99.001 3.202 1.353 4.155 2.7.14.198.368.316.611.317.243 0 .471-.117.612-.314.955-1.339 2.19-2.694 4.159-2.694 1.796 0 3.729 1.148 3.729 3.668 0 2.671-2.881 5.673-8.5 11.127-5.454-5.285-8.5-8.389-8.5-11.127 0-1.125.389-2.069 1.124-2.727.673-.604 1.625-.95 2.61-.95z"
                                            fill="red" />
                                    </svg>
                                </a>
                            {% else %}
                                <a href="{% url 'curtir_postagem' x.id %}" class="card-link">
                                    <svg class="icone1" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"
                                        stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="m7.234 3.004c-2.652 0-5.234 1.829-5.234 5.177 0 3.725 4.345 7.727 9.303 12.54.194.189.446.283.697.283s.503-.094.697-.283c4.977-4.831 9.303-8.814 9.303-12.54 0-3.353-2.58-5.168-5.229-5.168-1.836 0-3.646.866-4.771 2.554-1.13-1.696-2.935-2.563-4.766-2.563zm0 1.5c1.99.001 3.202 1.353 4.155 2.7.14.198.368.316.611.317.243 0 .471-.117.612-.314.955-1.339 2.19-2.694 4.159-2.694 1.796 0 3.729 1.148 3.729 3.668 0 2.671-2.881 5.673-8.5 11.127-5.454-5.285-8.5-8.389-8.5-11.127 0-1.125.389-2.069 1.124-2.727.673-.604 1.625-.95 2.61-.95z"
                                            fill="grey" />
                                    </svg>
                                </a>
                            {% endif %}
                            <a href="#" class="card-link"></a>
                            <svg class="icone2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                    d="M12 2c5.514 0 10 3.532 10 7.874 0 4.162-3.627 6.72-7.893 7.721l-2.107 2.958-2.107-2.958c-4.304-1.011-7.893-3.617-7.893-7.721 0-4.342 4.486-7.874 10-7.874zm0-2c-6.627 0-12 4.42-12 9.874 0 4.512 3.678 8.317 8.701 9.496l3.299 4.63 3.299-4.63c5.023-1.18 8.701-4.985 8.701-9.496 0-5.454-5.373-9.874-12-9.874z"
                                    fill="grey" />
                            </svg>
                            <div style="padding-left: 10px; padding-top: 10px;">
                                <span style="margin-right: 53px;">{{ x.likes }}</span>
                                {{ x.numero_comentarios }}
                            </div>
                            
                        </div>
                    </div>
                </div>
    
                <!-- Modal -->
                {% include 'partials/modalfoto.html' %}
            {% endfor %}
        </div>
    </div>
    


    </div>
    <nav aria-label="..." style="text-align: center; margin-top: 20px;">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                {% if postagem.has_previous %}
                    <a class="page-link" href="?page={{ postagem.previous_page_number }}">Anterior</a>
                {% endif %}
            </li>
            <li class="page-item disabled"><a class="page-link" href="#">{{ postagem.number }} de
                    {{postagem.paginator.num_pages }}</a></li>
            <li class="page-item">
                {% if postagem.has_next %}
                    <a class="page-link" href="?page={{ postagem.next_page_number }}">Próxima</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
<script> 
    window.sr = ScrollReveal({ reset: true});
    sr.reveal('.imagem1 h1', { duration: 2000});
</script>
<!-- mudança de imagem  -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var imageContainer = document.querySelector('.imagem1');
        var images = [
            "{% static 'assets/img/modelorosa2.jpg' %}",
            "{% static 'assets/img/modelosofa.jpg' %}",
            "{% static 'assets/img/modelorosa.jpg' %}",
            "{% static 'assets/img/modelosofa2.jpg' %}",
        ];
        var currentImageIndex = 0;

        function changeImage() {
            imageContainer.style.backgroundImage = "url(" + images[currentImageIndex] + ")";
            currentImageIndex = (currentImageIndex + 1) % images.length;
        }

        var interval = 4000; 

        setInterval(changeImage, interval);
    });
</script>
<!-- fim do body -->





{% include 'partials/footer.html' %}
{% endblock%}