{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}

{% include 'partials/adm/navbar.html' %}
{% include 'partials/adm/background2.html' %}
{% include 'partials/alerts.html' %}

<div class="container text-center" style="padding: 5%;">
    <!-- {% include 'partials/alerts.html' %} -->
    <div class="row">
      <a href="{% url 'postagem' %}">
        <button type="button" class="btn">
          <img src="{% static 'assets/img/adicionar.png' %}" alt="botao-add" style="height: 40px; width: 40px;">
        </button>
      </a> 
        {% for x in postagem %}
      <div class="col" style="padding: 3%;">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="{{x.imagem_roupa.url}}" style="width: 100%; height: 250px;" class="card-img-top" alt="{{x.titulo_roupa}}">
                <div class="card-body">
                  <h5 class="card-title">{{x.titulo_roupa}}</h5>
                  <p class="card-text">{{x.descricao_roupa}}</p>
                  <a href="{% url 'delete' x.id %}">
                   <button type="button" class="btn">
                      <img src="{% static 'assets/img/lixeira.png' %}" alt="botao-excluir">
                    </button>
                  </a>
                  <a href="{% url 'edit_roupa' x.id %}">
                    <button type="button" class="btn">
                       <img src="{% static 'assets/img/editar.png' %}" alt="botao-editar">
                     </button>
                   </a>
                </div>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!--pagination-->
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item ">
          {% if postagem.has_previous %}
              <a class="page-link" href="?page={{ postagem.previous_page_number }}">anterior</a>
          {% endif %}
        </li>
        <li class="page-item disabled"><a class="page-link" href="#">{{ postagem.number }} de {{ postagem.paginator.num_pages }}</a></li>
        <li class="page-item">
          {% if postagem.has_next %}
              <a class="page-link" href="?page={{ postagem.next_page_number }}">próxima</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  <!-- end pagination-->
</div>


{% include 'partials/footer.html' %}
    
{% endblock%}

