{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}

{% include 'partials/adm/background.html' %}
 {% include 'partials/adm/navbar.html' %}
    <div class="container-sm text-center"  style="padding: 10%;">
        <div class="shadow" id="info">
            <div class="header" style="padding: 2%;">
                <h1 class="log">Adicionar Roupa</h1>
            </div>
            <form method = "post" enctype="multipart/form-data" style="padding: 2%;">
                {% csrf_token %}
                <!-- {{ form.as_p }}
                <button type="submit">Upload</button> -->
                {% for field in form.visible_fields %}
                  <div class="mb-3">
                      <label for="{{field.id_for_label}}" class="form-label">{{field.label}}</label>
                      {{field}}
                  </div>
                    {% endfor %}
                  <button class="btn btn-success" type="submit">Postar</button>
            </form>
        </div>
      </div>    
{% include 'partials/adm/footer.html' %}
{% endblock%}
    
