{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}
{% include 'partials/navbar.html' %}
{% include 'partials/loading.html'%}

</style>
<div class="container-fluid">
    <div class="imagem2 text-center" style="background-image: url({% static 'assets/img/manequinM.jpg' %});">     
        <h1>Sobre Nós</h1>
    </div>
    <div class="container quemsomos">
        <div class="container row align-items-start">
            <div class="row" id="compromisso" >
                <div class="row" >
                    <div class="col">
                        <h3>Quem Somos</h3>
                        <p>A High Fashion Confecções Ltda. foi fundada em São João Nepomuceno, em 25 de fevereiro de 1972, 
                            pelos visionários Gianni Givenchy e Yves Dior. Desde o início, a empresa tem se dedicado à criação de 
                            moda adulta feminina, com um compromisso inabalável de combinar praticidade, conforto e beleza cotidiana em cada peça. A visão de Gianni Givenchy e Yves Dior ao estabelecer a High Fashion Confecções Ltda.</p>
                    </div>
                    <div class="col" style="margin-top: 6.8%;">
                        <p>
                            não era apenas criar 
                            peças de vestuário, mas sim, proporcionar uma experiência única e transformadora para as mulheres. Ao longo 
                            dos anos, essa visão foi impulsionada por um compromisso inabalável em cada costura, em cada detalhe, para 
                            oferecer não apenas moda, mas uma expressão autêntica de individualidade.</p>
                    </div>
                </div>
                <h3>Nossa História</h3>
                <div class="col">
                    <p>
                        Iniciamos nossa jornada com poucas máquinas, mas com uma abundância de ideias e criatividade. O sucesso não demorou a chegar, e, como resultado, expandimos nosso parque fabril, incorporando máquinas de última geração, automação de processos e a implementação de softwares avançados de design, criação e desenvolvimento.
                        Em 1994, Christian Vuitton e Gabrielle Courrège, genro e nora de Gianni e Yves, juntaram-se à sociedade, trazendo uma nova energia e compromisso com o crescimento da empresa.
                        </p><br>
                        <p>No ano 2000, demos um passo ousado ao investir em lojas próprias, apresentando uma coleção exclusiva direcionada à venda direta. 
                            Em 2002, esse segmento já respondia por 35% do nosso faturamento.
                            Em 2009, uma nova oportunidade surgiu no horizonte da marca, levando-nos 
                            a expandir ainda mais nossos horizontes através de franquias, conquistando novos 
                            mercados e fortalecendo nossa presença global.</p>
                            <h3>Nosso Compromisso</h3>
                            <p>Somos uma empresa comprometida com a qualidade, inovação e satisfação do cliente. 
                                Cada peça que produzimos reflete não apenas as últimas tendências da moda, mas também 
                                a nossa paixão por criar roupas que fazem as mulheres se sentirem confiantes e elegantes em seu dia a dia.</p>
                                <div class="container text-end">
                                    <h2>High Fashion Confecções Ltda.</h2>
                                    <h6>Moda com Elegância e <br>Inovação desde 1972</h6>
                                </div>
                </div>
                <div class="col modelo4" >
                    <img src="{% static 'assets/img/modelo4.jpg' %}" alt="Modelo">
                </div> 
            </div>      
        </div>
   </div>
        <div class="imagem1 text-center" style="background-image: url({% static 'assets/img/modelobw.jpg' %});">
            <h1>Missão, Visão e Valores</h1>
        </div>
        <div class="container text-center mvv">
            <div class="container row align-items-start">
                <div class="col">
                    <h3>Missão</h3>
                    <p>Na High Fashion Confecções Ltda., nossa missão é criar moda 
                    adulta feminina que transcende o tempo, combinando elegância e 
                    inovação desde 1972. Comprometemo-nos a proporcionar peças que
                    não apenas sigam as últimas tendências da moda, mas também incorporem
                    a paixão por praticidade, conforto e beleza cotidiana. Buscamos constantemente
                    a excelência, dedicando-nos a satisfazer nossos clientes e inspirar confiança 
                    e elegância em cada mulher.</p>
                </div>
                <div class="col">
                    <h3>Visão</h3>
                    <p>Vislumbramos um futuro onde a High Fashion Confecções Ltda., é reconhecida globalmente 
                    como uma marca líder em moda feminina, associada à elegância atemporal e inovação contínua. 
                    Visualizamos um universo onde nossas criações transcendem fronteiras físicas, alcançando mulheres 
                    em todo o mundo por meio do nosso compromisso com a qualidade, criatividade e satisfação do cliente. 
                    Buscamos moldar a indústria da moda, inspirando confiança e oferecendo uma experiência única e enriquecedora.</p>
                </div>
                <div class="col">
                    <h3>Valores</h3>
                    <p>Na High Fashion Confecções Ltda. Ltda., nossa essência reside na busca incansável pela perfeição e excelência.
                    Guiados pela inovação constante, combinamos tendências modernas com uma elegância que transcende o tempo, proporcionando
                    satisfação total aos nossos clientes. Mantemos uma tradição respeitada, atualizada com uma abordagem contemporânea, 
                    fortalecendo nosso sucesso por meio de parcerias sólidas. Nosso compromisso ético é inegociável, refletindo em ações 
                    responsáveis tanto social quanto ambientalmente.</p>
                </div>

            </div>
            <img src="{% static 'assets/img/linha.png' %}" alt="linha-decorativa" style="margin-top: 2%;">
            <!-- <img src="{% static 'assets/img/missao.png' %}" alt="Missão">
            <img src="{% static 'assets/img/visao.png' %}" alt="Visão">
            <img src="{% static 'assets/img/valores.png' %}" alt="Valores"> -->
        </div>
        <div class="imagem3 text-center" style="background-image: url({% static 'assets/img/chapeu.jpg' %});">
            <h1>Venha Nos Encontrar!</h1>
        </div>
        <div class="container text-center endereco" >
            <div class="container text-center">
                <h1>Nossas Lojas</h1>
                <img src="{% static 'assets/img/local.gif' %}" alt="icone-endereço">
            </div>
            <div class="row text-center ">
                <div class="col">
                    <ol>Minas Gerais</ol>
                    <li>Av. Cel. Souza, 521 - Bicas - CEP:36600-000-Telefone: (32)3271-1723; Av. Savassy, 1258 Loja 108 - CEP: 34256-754 - Telefone: (31)4325-6547.</li>
                    <li> R. Cel. José Dutra, 128-S. J. Nepomuceno - CEP: 36680-000 - Telefone: (32)3261-9874.</li>
                </div>
                <div class="col">
                    <ol>Rio de Janeiro</ol>
                    <li>Av. Atlântica, 2546 Rio de Janeiro - CEP: 21258-456 Telefone: (21)2123-2321.</li>
                    <li>Rua do Catete, 123 - Rio de Janeiro - CEP: 21123-321- Telefone: (21)6932-7563.</li>
                    <li>Av. Nossa Senha de Copacabana, 1874 - Rio de Janeiro CEP: 22587-632- Telefone: (21)3265-9632.</li>
                </div>
                <div class="col">
                    <ol>São Paulo</ol>
                    <li>Rua da Graça, 456/202 - São Paulo - CEP: 11587-756-Telefone: (11)1236-7410.</li>
                    <li>Rua do Oriente, 857/104 - São Paulo - CEP: 12321-852-Telefone: (11) 4256-9632.</li>
                </div>
                
            </div>
            <img src="{% static 'assets/img/linha.png' %}" alt="linha-decorativa" style="margin-top: 2%;">
        </div>
</div>
<script>
    window.sr = ScrollReveal({ reset: true});

    sr.reveal('.mvv img', { duration: 2000});

    sr.reveal('.quemsomos img', { duration: 2000});

    sr.reveal('.imagem1 h1', { duration: 2000});

    sr.reveal('.imagem2 h1', { duration: 2000});

    sr.reveal('.imagem3 h1', { duration: 2000});

    sr.reveal('.endereco img', { duration: 2000});

</script>

{% include 'partials/footer.html' %}
{% endblock%}