{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}

{% include 'partials/adm/navbar.html' %}

  <div class="container">
    {%if roupa.imagem_roupa%}
    <img src="{{roupa.imagem_roupa.url}}" alt="photo.name" width="200px" height="200px">
    {%endif%}
  <form action="{% url 'update_roupa' roupa.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class= "btn btn-primary">Atualizar</div>
  </form>
</div>
  {% include 'partials/footer.html' %}
    
  {% endblock%}
  