#Titulo h1{
    font-family: 'Sacramento', cursive;
    font-size: 60px;
    padding: 2%;
}
.artdicas, .artdicas2{
    width: 100%;
    margin-bottom: 3%;
    width: 100%;
}
.artdicas{
    background-color: #CBD0D5;
    padding: 2%;
}
p{
    text-align: justify;
}
h3{
    font-family: 'Cardo', serif;
}
.artdicas img{
    height: 800px;
    width: 533px;
}
.artdicas2 img{
    height: 750px;
    width: 533px;
}
.artdicas3 img{
    padding-bottom:3% ;
}