body{
    margin: 0;
}

.artdicas, .artdicas2, .artdicas3{
    width: 100%;
    margin-bottom: 3%;
}
.artdicas2{
    background-color: #CEAB9A;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 1080px;
}

#mainartdicas p{
    text-align: justify;
    padding-top: 2px;
    margin-bottom: 2%;
    color: black;
}
#mainartdicas h3{
    font-family: 'Cardo', serif;
    font-size: 35px;
    margin-top: 2%;
    color: black;
}
.artdicas img{
    height: 800px;
    width: 533px;
    padding-left: 0%;
}
.artdicas2 img{
    height: 750px;
    width: 533px;
}

@media only screen and (max-device-width: 932px) {
    body {
        margin: 0;
    }
    
    .artdicas, .artdicas2, .artdicas3 {
        width: 100%;
        margin-bottom: 3%;
    }
    
    .artdicas2 {
        background-color: white;
        padding-top: 2%;
        padding-bottom: 2%;
        max-width: 1080px; 
        margin-left: auto; 
        margin-right: auto; 
    }
    
    
    .artdicas img {
        max-width: 100%; 
        height: auto; 
        display: block; 
        margin-left: auto; 
        margin-right: auto;
    }
    
    .artdicas2 img {
        max-width: 100%; 
        height: auto; 
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
    }
    }