.navmain{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  @media only screen and (max-device-width: 400px) {
        .navtext{
          justify-content: end;
          position: fixed;
          width: 95%;
          top: 0;
          z-index: 1000;
          margin-top: 6%;
        }
    }

   
