{% load static %}
<footer class="bg-dark text-white p-2 footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <img src="{% static 'assets/img/logobranca.png' %}" alt="" style="height: 130px; width: 100px; color: white;">
        <ul class="list-unstyled">
          <li><a href="{% url 'artdicas' %}" class="text-white">Dicas</a></li>
          <li><a href="{% url 'sobre' %}" class="text-white">Sobre</a></li>
          {% if user.is_superuser %}
           <li><a href="{% url 'listar_roupas' %}" class="text-white">Admin</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="col-md-3 text-center">
        <h5>Localização</h5>
        <a href="https://www.google.com.br/maps/place/R.+Cel.+Jos%C3%A9+Dutra,+128+-+S%C3%A3o+Jo%C3%A3o+Nepomuceno,+MG,+36680-000/@-21.5366019,-43.0108939,17z/data=!3m1!4b1!4m5!3m4!1s0xa292651e675261:0xb2c91a1a843ec83e!8m2!3d-21.5366069!4d-43.008319?entry=ttu"
          target="_blank">
          <img src="{% static 'assets/img/mapa.png' %}" alt="" style="height: 150px; width: 150px;">
        </a>
      </div>

      <div class="col-md-3 text-center">
        <h5>Redes Sociais</h5>
        <a href="#" class="text-white mx-2">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="27" height="27" viewBox="0,0,256,256"
            style="fill:#ffffff;">
            <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
              stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
              font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
              <g transform="scale(5.12,5.12)">
                <path
                  d="M6.91992,6l14.2168,20.72656l-14.9082,17.27344h3.17773l13.13867,-15.22266l10.44141,15.22266h10.01367l-14.87695,-21.6875l14.08008,-16.3125h-3.17578l-12.31055,14.26172l-9.7832,-14.26172z">
                </path>
              </g>
            </g>
          </svg>
        </a>
        <a href="#" class="text-white mx-2">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0,0,256,256"
            style="fill:#ffffff;">
            <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
              stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
              font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
              <g transform="scale(5.33333,5.33333)">
                <path
                  d="M16.5,5c-6.33361,0 -11.5,5.16639 -11.5,11.5v15c0,6.33276 5.16621,11.5 11.5,11.5h15c6.33294,0 11.5,-5.16706 11.5,-11.5v-15c0,-6.33379 -5.16724,-11.5 -11.5,-11.5zM16.5,8h15c4.71124,0 8.5,3.78779 8.5,8.5v15c0,4.71106 -3.78894,8.5 -8.5,8.5h-15c-4.71221,0 -8.5,-3.78876 -8.5,-8.5v-15c0,-4.71239 3.78761,-8.5 8.5,-8.5zM34,12c-1.105,0 -2,0.895 -2,2c0,1.105 0.895,2 2,2c1.105,0 2,-0.895 2,-2c0,-1.105 -0.895,-2 -2,-2zM24,14c-5.50482,0 -10,4.49518 -10,10c0,5.50482 4.49518,10 10,10c5.50482,0 10,-4.49518 10,-10c0,-5.50482 -4.49518,-10 -10,-10zM24,17c3.88318,0 7,3.11682 7,7c0,3.88318 -3.11682,7 -7,7c-3.88318,0 -7,-3.11682 -7,-7c0,-3.88318 3.11682,-7 7,-7z">
                </path>
              </g>
            </g>
          </svg>
        </a>
        <a href="#" class="text-white mx-2">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0,0,256,256"
            style="fill:#000000;">
            <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
              stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
              font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
              <g transform="scale(8.53333,8.53333)">
                <path
                  d="M15,4c-4.186,0 -9.61914,1.04883 -9.61914,1.04883l-0.01367,0.01563c-1.90652,0.30491 -3.36719,1.94317 -3.36719,3.93555v6v0.00195v5.99805v0.00195c0.00384,1.96564 1.4353,3.63719 3.37695,3.94336l0.00391,0.00586c0,0 5.43314,1.05078 9.61914,1.05078c4.186,0 9.61914,-1.05078 9.61914,-1.05078l0.00195,-0.00195c1.94389,-0.30554 3.37683,-1.97951 3.37891,-3.94727v-0.00195v-5.99805v-0.00195v-6c-0.00288,-1.96638 -1.43457,-3.63903 -3.37695,-3.94531l-0.00391,-0.00586c0,0 -5.43314,-1.04883 -9.61914,-1.04883zM12,10.39844l8,4.60156l-8,4.60156z">
                </path>
              </g>
            </g>
          </svg>
        </a>
      </div>

      <div class="col-md-3 text-center">
        <h5>Fale Conosco</h5>
        <form method="post" action="{% url 'fale_conosco' %}">
          {% csrf_token %}
          <input type="hidden" name="redirecionar_para" value="{{ request.path }}">

          <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Seu Email" required>
          </div>

          <div class="form-group">
            <textarea class="form-control" id="mensagem" name="mensagem" rows="2" placeholder="Sua Mensagem"
              required></textarea>
          </div>

          <button type="submit" class="btn btn-light btn-sm">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</footer>