{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/csspagina/modalfoto.css' %}">
<div class="modal fade" id="modalFoto{{x.id}}" tabindex="-1" role="dialog" aria-labelledby="modalFotoLabel"aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="modalFotoLabel">{{x.titulo_produto}}</h5>
                <div class="row d-flex">
                        <img src="{{x.imagem_produto.url}}" alt="{{x.titulo_roupa}}" class="img-fluid" style="width: 100%; height: 100%;">
                    <div id="description">
                        <div class="card-actions">
                            <div class="icon">&#9825; {{ x.likes }} Likes &#x1F5E8; {{ x.numero_comentarios }} Coments</div>
                        </div>
                        <p><b>Descrição:</b>{{x.descricao_produto}}.</p> 
                        <p><b>Composição:</b>{{x.composicao_produto}}.</p>
                        <p><b>Coleção:</b>{{x.colecao}}.</p>                       
                        <p><b>Tipo:</b>{{x.tipo}}.</p>
                        <p><b>Ano:</b>{{x.ano}}.</p>                   
                    </div>
                </div>
                    <div class="container-fluid text-center" id="coments" style="padding: 3%;">
                        <h4>Comentários</h4>
                        <div class="container-sm shadow" style="height: 180px; overflow-y: scroll;">
                            {% for comentario in x.comentarios.all %}
                            <div class="container-md justify-content-begin" id="coment">
                                <p><b>{{ comentario.usuario }}:</b> {{ comentario.texto }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <form method="post" id="formulario" action="{% url 'adicionar_comentario' produto_id=x.id %}">
                            {% csrf_token %}
                            {{ formcomentario.as_p }}
                            <button type="submit" class="btn btn-dark btn-lg">Comentar</button>
                        </form>
                    </div>                
            </div>
        </div>
    </div>
</div>