<div class="px-3 py-2 text-white border-bottom" style="background-color: #ADE0DB;">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 text-dark text-decoration-none">
            High Fashion
          </a>
    
          <div class="text-end">
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
              <li>
                <a href="{% url 'artdicas' %}" class="nav-link text-dark">
                  Dicas
                </a>
              </li>
              <li>
                <a href="{% url 'sobre' %}" class="nav-link text-dark">
                  Sobre
                </a>
              </li>
              <li>
                <a href="#ModalForm" class="nav-link text-dark" data-bs-toggle="modal" data-bs-target="#ModalForm">
                  Login
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  
  

  