{% load static %}
<!-- navbar  -->
<div class="container-fluid border border-3">
    <div class="navbar-principal" style=" padding: 5px;">
        <div class="row">
            <div class="col">
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'assets/img/logo1.png' %}" style="height: 35px; height: 35px;" alt="logo-marca"></a>
            </div>       
            <div class="col text-center">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </div>
            <div class="col text-end">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#ModalForm" style="background-color: #203540; color: #FFFFFF;">
                    Login
                </button>
                <div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" style="padding-right: 50px; padding-top: 20px;"></button>
                            <div class="myform bg-dark">
                                <h1 class="text-center">Login</h1>
                                <ul class="nav justify-content-center border-bottom pb-3 mb-3;"></ul>
                                <form style="text-align: left;" method="post" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    {% for field in form.visible_fields %}
                                    <div class="mb-3 mt-4">
                                        <label for="{{ field.id_for_label }}" class="form-label">{{field.label}}</label>
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-light mt-3">LOGIN</button>
                                    <button type="submit" class="btn btn-light mt-3">CANCELAR</button>
                                    <p><a href="#">Cadastre-se</a></p>
                                </form>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
