{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/csspagina/pesquisa.css' %}">

<div class="container-fluid mt-3 filtro">
    <form method="get" action="{% url 'index' %}">
        {% csrf_token %} 
        <div class="d-flex justify-content-center mb-3 align-items-center">
            <div class="custom-dropdown mr-4">
                {{ filtro_form.ano }}
            </div>

            <div class="custom-dropdown mr-4">
                {{ filtro_form.colecao }}
            </div>
            
            <div class="custom-dropdown mr-4">
                {{ filtro_form.tipo }}
            </div>

            <div class="custom-dropdown">
                <button type="submit" class="btn btn-dark" style="min-width: 20px;">Filtrar</button>
            </div>
        </div>
    </form>
</div>